/* Fonts */

@font-face {
    font-family: 'museo700';
    src: url('fonts/m700-webfont.eot');
    src: url('fonts/m700-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/m700-webfont.woff') format('woff'), url('fonts/m700-webfont.ttf') format('truetype'), url('fonts/m700-webfont.svg#museo700') format('svg');
    font-weight: normal;
    font-style: normal;
}
body {
    font-size: 1.2rem;
    line-height: 1.8rem;
}
h2 {
    font-size: 2.3rem;
    line-height: 3.6rem;
}


/* Classes */

.default-presentation {
    border-bottom: 9px #00aeef solid;
}
.blue-presentation {
    background-color: #00aeef;
    color: #fff;
}
.floating-column {
    width: 30.5%;
    display: inline-block;
    float:left;
}
.contrainProportion {
    padding:0;
}
.modal {
    width: 100%;
    position:absolute;
    top: 2.6rem;
    left:0;
    z-index:101;
    background-color: white;
    height: 300px;
    display:block;
    border-bottom: 4px solid #00aeef;
    overflow:hidden;
}
.panelcontent {
    width:117rem; 
    position:relative;
}
.close-reveal-modal {
    font-size: 35px;
    color: #AAA;
    font-weight: bold;
    cursor: pointer;
    position:absolute;
    right:1rem;
    top:2rem;
    z-index:50;
}
.grid_left_column {
    width: 232px;
    display: block;
    float: left;
}
.grid_right_column {
    width: 90rem;
    display: block;
    float: left;
}
.close-reveal-modal:hover {
    color: #00aeef;
    text-decoration: none;   
}
.greyBar_active {
     background: url("http://www.kentunion.co.uk/stylesheet/KentUnionResponsiveDesign/arrow_down_white.png") no-repeat 100% 50% #00aeef !important;
    cursor: default;
}
.museoTitle {
    color: #00aeef;
    font-family:'museo700';
}
.museoSmallTitle{
    font-family:'museo700'; 
    font-size: 1.6rem;
    font-weight: 100;
}
.col-centered {
    float:none;
    margin:0 auto;
}
.bottom {
    margin-top: 9rem;
    margin-left: 3rem;
}
.intropanel {
    margin-top: 4rem;
}
.services_links {
    list-style: none;
    margin-top:-1rem;
}
.services_links li {
    display:inline;
}
.services_links li a {
 display: block;
    float:left;
    width: 80%;
    padding: 5px;
    color: #00aeef;
    text-decoration: none;   
}
.services_links li a:hover {
    color: #fff;
    background: #00aeef;   
}
.pad {
 margin-left: 10px;   
}
.grid_content_colum {
    height: 175px;
    display:block;
    float:left;
    width:232px;
}

.clearfix:after {
   content: ".";
   display: block;
   clear: both;
   visibility: hidden;
   line-height: 0;
   height: 0;
}
 
.clearfix {
   display: inline-block;
}
 
html[xmlns] .clearfix {
   display: block;
}
 
* html .clearfix {
   height: 1%;
   overflow: visible;
}


/* Id */
#overlay {
    height:100%;
    width:100%;
    position:fixed;
    left:0;
    top:0;
    z-index:1 !important;
    background-color:RGBA(0,0,0,.7);
    cursor:pointer;
}
#modal_OuterContainer {
    position:relative;   
    width:100%;
}
#cookies-picture {
    background: url(http://www.kentunion.co.uk/stylesheet/KentUnionResponsiveDesign/cookies.png) top left no-repeat;
    width: 211px;
    height: 148px;
    display: block;
}
#campuses {
    list-style: none;
    padding:0;
    margin:0;
}
#campuses li {
    list-style:none;
    padding-right:2rem;
}
#campuses li a {
    text-decoration:none;
}
#campuses li a:hover {
    text-decoration:none;
}
#campuses li a p {
    font-family:'museo700';
    font-size: 2rem;
    text-decoration: none;
    font-weight:100;
    padding: 0;
    padding-top: 4px;
    margin: 0;
    color: #808285;
    padding-left: 4px;
}
#campuses img { width:25rem; height:15rem;}

#campuses li a:hover img {
    border: 4px solid #00aeef;
}
#campuses li a:hover p {
    color: #00aeef;
}

#greyBar {
    background-color: #808285;
    height: 2.6rem;
    display: block;
    color: #fff;
    width: 100%;
    z-index:2 !important;
    position:relative;
}
#greyBar ul {
    font-weight:bold;
    margin:0;
    padding:0;
    font-size: 1.5rem;
}
#greyBar ul li {
    display:inline-block;
    white-space:nowrap;
    padding-top:.3rem;
    border-right: solid 1px #666;
}
#greyBar ul li a {
    background: url("http://www.kentunion.co.uk/stylesheet/KentUnionResponsiveDesign/arrow_down_blue.png") no-repeat 100% 50% #808285;
    color: white;
    padding: 5px 36px 5px 15px;
    text-decoration:none;
    font-size: 1.2rem;
}
#search input {
    margin:0;
    padding:0;
    height: 2rem;
    width: 80%;
    margin-left: 2rem;
}
#greyBar ul li a:hover {
    background: url("http://www.kentunion.co.uk/stylesheet/KentUnionResponsiveDesign/arrow_down_white.png") no-repeat 100% 50% #00aeef;
}
#mainMenu {
    background-color: white;
    width: 100%;
    display: block;
    border-bottom: #00aeef 4px solid;
    height: 8rem;
}
#logo {
    background:url('http://www.kentunion.co.uk/stylesheet/KentUnionResponsiveDesign/ku-logo-35px-blue.png') center center no-repeat;
    height:7.2rem;
    width: 16.5rem;
    float:left;
    border:0;
    text-indent: -999em;
    overflow:hidden;
    text-align:left;
    direction:ltr;
    line-height:0;
}
#mainLinks {
    width:58%;
    float:left;
}
#mainMenu ul {
    width:100%;
    display:block;
}
#mainMenu ul li {
    display:block;
    width:16.6%;
    height: 6rem;
    float:left;
    text-align:center;
}
#mainMenu ul li a {
    width:100%;
    height:7.6rem;
    font-weight:bold;
    padding-top:3rem;
    color:#808285;
    text-decoration: none;
    border-left: 1px solid #D1D3D4;
    display:block;
}
#mainMenu ul li:last-child a {
    border-right: 1px solid #D1D3D4;   
}
#mainMenu ul li a:hover {
    background-color: #00aeef;
    color: #fff;
    text-decoration:none;
}
#main {
    display: block;
    padding: 0;
}
#main-homepage-images {
    display: block;
    background-color: #efefef;
    padding:0;
    position:relative;
}
#bannerprev {
    background: url(http://www.kentunion.co.uk/stylesheet/KentUnionResponsiveDesign/prev_arrow.png) top left;
    text-indent: -6000px;
    width:5rem;
    height:5rem;
    display:block;
    position:absolute;
    top:40%;
    left:2%;
    z-index:20;
}
#bannernext {
    background: url(http://www.kentunion.co.uk/stylesheet/KentUnionResponsiveDesign/next_arrow.png) top left;
    text-indent: -6000px;
    width:5rem;
    height:5rem;
    display:block;
    position:absolute;
    top:40%;
    right:2%;
    z-index:20;
}
#homepage-carousel {
    width:100%;
    display:block;
}
#homepage-carousel .item img{
    display: block;
    width: 100%;
    height: auto;
}
#main-homepage-social {
    display: block;
    background-color: #effeef;
}
#main-help {
    margin: 0;
    margin-top: 2rem;
    padding: 0;
}
#main-help-box {
    display:block;
    width: 98%;
}
#main-help-box span {
    padding: 1rem;
}
#main-help-box span h2 {
    font-family: 'museo700';
    margin: 0;
}
#main-help-box span p {
    margin: 0;
}
#main-help-box span ul {
    list-style: none;
    margin: 0;
    padding: 0;
    color: #fff;
}
#main-help-box span ul li a {
    color: #fff;
    padding: .5rem;
    display: block;
    font-weight: bold;
}
#main-help-box span ul li a:hover {
    background-color: #fff;
    color: #00aeef;
}
#promo-boxes {
    margin-top: 2rem;
    height: 15rem;
    background-color: #eee;
    width: 98%;
}
#main-news-box {
    height: 30.2rem;
    margin-top: 2rem;
    background-color: #eee;
}
#footer {
    height: 3rem;
    margin-top: 1rem;
    padding: 0;
    display: block;
}
#footer p {
    margin:0;
    padding: 0;
    display:block;
    color: #808285;
}
#footer p a {
    text-decoration: none;
    color: #808285;
    font-weight: normal;
    margin: 0;   
}
#raptorbutton {
    width: 13px;
    height: 18px;
    background: url('http://www.kentunion.co.uk/stylesheet/KentUnionResponsiveDesign/raptor-icon.jpg') top left no-repeat;
    float: right;
    display: block;
    border: 0;
    text-indent: -999em;
    overflow: hidden;
    background-color: transparent;
    background-repeat: no-repeat;
    text-align: left;
    direction: ltr;
    line-height: 0;
}
#footer ul {
    list-style: none;
    display: block;
    margin: 0;
    padding: 0;
    text-align: right;   
}
#footer li{
    display:inline-block;
    padding-left: 1rem;
    padding-right: 1rem;
    border-left: 1px solid #d1d3d4;
}
#footer li:first-child {
    border-left:0;
    padding-left:0;
}
#footer li:last-child {
    padding-right: 0;   
}
#footer li a{
    text-decoration: none;
    color: #808285;
    font-weight: normal;
    margin: 0;
}


@media (max-width:1140px) {

.bottom {
    width:80%;   
}
.modal {
     padding: 0 20px 0 20px;
}
}

@media (max-width:992px) {
#main-help-box {
    width:100%;     
}
#promo-boxes {
    width:100%;
}
#mainLinks{
    width:78%;
}
.bottom {
    width:60%;   
}
#servicesL {
    width:100%;
}
#servicesR {
    margin:0;
    padding:0;
}
#servicesBR {
    width:100%;   
}
.services_links {
    margin:0;
    padding:0;
}
.grid_content_colum {
    width:32%;   
}
#campuses {
    width:100%;   
}
#campusL {
    width:100%;   
}
#campusR {
    margin:0;
    padding:0;
}
#campusB {
    margin:0;
    padding:0;
    width:100%;
}
#campusB img{
    width: 22rem;
    height: 14rem;
}
.modal {
    height: 380px;   
}
}
@media (max-width:780px) {
.bottom {
    width:50%;
}    
.modal {
    height: 350px;

}

}